{% extends "base.html.twig" %}

{% block body %}
    {% include "partials/_nav_bar.html.twig" %}
    
    <main id="main">
        {{ include('partials/_header.html.twig') }}
        {{ include('partials/_about.html.twig') }}  
        {# {{ include('partials/_resume.html.twig') }} #}
        {{ include('partials/_portfolio.html.twig') }}
        {{ include('partials/_contact.html.twig') }}
        {# {{ include('partials/_contactTest.html.twig') }} #}
        {{ include('partials/_footer.html.twig') }}
    </main>
{% endblock %}